body{
	height: 100%;
}

.camera{
	margin-top: 2%;
	margin-left: 23%;
}

.startButton{
	margin-top: 1%;
	margin-left: 45%;
}

.camera-picture{
	margin-top: 2%;
	margin-left: 36%;
}

#downloadLnk{
	cursor: pointer;
}

.save-link{
	margin-left: 45%;
}